*{
    margin: 0;
    padding: 0;
}
h1{
    color: black;
}

h2{
    color: blue;
    font-weight: bold;
}

a{
    color:brown;
}

h1{
    font-size: 15px;
    font-style: italic;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}